@import "tailwindcss";

/* Menghilangkan semua batasan default dari Vite */
:root {
  background-color: #052e16;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: block; /* Mencegah elemen menumpuk di tengah secara paksa */
  overflow-x: hidden;
}

#root {
  width: 100%;
}